src/network/channel-artifacts/*.tx
src/network/channel-artifacts/*.block
src/network/ledgers
src/network/ledgers-backup
src/network/channel-artifacts/*.json
src/network/org3-artifacts/crypto-config/*
src/network/organizations/fabric-ca/ordererOrg/*
src/network/organizations/fabric-ca/org1/*
src/network/organizations/fabric-ca/org2/*
src/network/organizations/ordererOrganizations/*
src/network/organizations/peerOrganizations/*
src/network/system-genesis-block/*
*.tar.gz
src/network/log.txt

*.swp
*.save
