src/network/channel-artifacts/*.tx
src/network/channel-artifacts/*.block
src/network/ledgers
src/network/ledgers-backup
src/network/channel-artifacts/*.json
src/network/organizations/fabric-ca/org*
src/network/organizations/ordererOrganizations/*
src/network/organizations/peerOrganizations/*
src/network/system-genesis-block/*
*.tar.gz
src/network/log.txt

src/network/organizations/cryptogen/crypto-config-org*
src/bin/*

src/network/compose/*.yaml
src/network/compose/docker/*.yaml

src/network/configtx/*.yaml

src/network/network.sh
src/network/organizations/fabric-ca/registerEnroll.sh
src/network/scripts/envVar.sh
src/network/scripts/createChannel.sh
src/network/scripts/deployCC.sh

src/auction/auction-simple/application-javascript/wallet/*
src/auction/auction-simple/application-javascript/*.js
!src/auction/auction-simple/application-javascript/.eslintrc.js
src/auction/test-application/javascript/AppUtil.js


*.swp
*.save
